{% extends "base.html.twig" %}

{% block title %}
	{{ title }} - O'Ciné
{% endblock %}

{% block menuMovie %}active{% endblock %}

{% block body %}
	<div class="card container">
		<div class="card-header d-flex justify-content-between align-items-center">
			<h2>{{ movie.title }}</h2>
			<div>
				{% for genre in movie.genres %}
					<a href="#" class="btn btn-primary">{{ genre.name }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="card-body">
			<p class="card-text"><u>Durée</u> : {{ movie.duration }} mins</p>
			<p class="card-text"><u>Réalisé le</u> : <time>{{ movie.releaseDate|date("d-m-Y") }}</time></p>
			<p><u>Casting</u> : </p>
			<ul>
				{% for casting in castings %}
					<li>({{ casting.creditOrder }}) {{ casting.person }} : {{ casting.role }}</li>
				{% else %}
					<li>Non informé</li>
				{% endfor %}
			</ul>
			<a href="{{ path("movie_list") }}" class="btn btn-primary">Back Home</a>
		</div>
	</div>
{% endblock %}
