{% extends "base.html.twig" %}

{% block title %}
	{{ title }} - O'Ciné
{% endblock %}

{% block menuMovie %}active{% endblock %}

{% block body %}
	<div class="card container">
		<div class="card-header d-flex justify-content-between align-items-center">
			<h2>{{ movie.title }}</h2>
			<div>
				{% for genre in movie.genres %}
					<a href="#" class="btn btn-primary">{{ genre.name }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="card-body">
			<p class="card-text"><u>Durée</u> : {{ movie.duration }} mins</p>
			<p class="card-text"><u>Réalisé le</u> : <time>{{ movie.releaseDate|date("d-m-Y") }}</time></p>
			<p><u>Casting</u> : </p>
			<ul>
				{% for casting in castings %}
					<li>({{ casting.creditOrder }}) {{ casting.person }} : {{ casting.role }}</li>
				{% else %}
					<li>Non informé</li>
				{% endfor %}
			</ul>
			<a href="{{ path("movie_list") }}" class="btn btn-primary">Back Home</a>
		</div>
		<h2>Les critiques</h2>
		<p><a href="{{ path("add_review", {"slug": movie.slug}) }}" class="btn btn-primary">Ajouter une critique au film</a></p>
			{% for review in movie.reviews %}
				<div class="card mb-2">
						<div class="card-body">
								<h5 class="card-title">{{ review.username }}</h5>
								<h6 class="card-subtitle mb-2 text-muted">Note :
										{{ review.rating }}
										sur 5</h6>
								<h6 class="card-subtitle mb-2 text-muted">Vu le :
										{{ (review.watchedAt|date('d/m/Y')) }}</h6>
								<p class="card-text">{{ review.content }}</p>
								<div class="my-2">
										{% for reaction in review.reactions %}
										<span class="badge bg-{{ reaction }}">{{ reaction }}</span>
										{% endfor %}
								</div>
						</div>
				</div>
			{% endfor %}
	</div>
{% endblock %}
