{{ form_start(form, { attr:{ novalidate: 'novalidate' }}) }}

    {{ form_row(form.email) }}
    {{ form_row(form.password) }}

    <button class="btn btn-success">{{ button_label|default('Sign Up') }}</button>

{{ form_end(form) }}